src/.vs/
src/Travix.Services.BusinessLogic/bin/
src/Travix.Services.BusinessLogic/obj/
src/Travix.Services.Comments.Api/Travix.Services.Comments.Api.csproj.user
src/Travix.Services.Comments.Api.Tests/bin/
src/Travix.Services.Comments.Api.Tests/obj/
src/Travix.Services.Comments.Api/bin/
src/Travix.Services.Comments.Api/obj/
src/Travix.Services.Comments.BusinessLogic/bin/
src/Travix.Services.Comments.BusinessLogic/obj/
src/Travix.Services.Contracts/bin/
src/Travix.Services.Contracts/obj/
src/Travix.Services.Core/bin/
src/Travix.Services.Core/obj/
src/Travix.Services.DataAccess/bin/
src/Travix.Services.DataAccess/obj/
src/Travix.Services.Posts.Api/Travix.Services.Posts.Api.csproj.user
src/Travix.Services.Posts.Api.Tests/bin/
src/Travix.Services.Posts.Api.Tests/obj/
src/Travix.Services.Posts.Api/bin/
src/Travix.Services.Posts.Api/obj/
src/Travix.Services.Posts.BusinessLogic/bin/
src/Travix.Services.Posts.BusinessLogic/obj/
src/Travix.Services.Resources/bin/
src/Travix.Services.Resources/obj/
